<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80451793420-7lb700b9blv3h8kf4203a715bv8n0p9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80451793420-7lb700b9blv3h8kf4203a715bv8n0p9u</string>
	<key>API_KEY</key>
	<string>AIzaSyCfdqt4J2KQ3olrSmvYX7flP_m-hN5HYiA</string>
	<key>GCM_SENDER_ID</key>
	<string>80451793420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>luvhepbasesystem</string>
	<key>STORAGE_BUCKET</key>
	<string>luvhepbasesystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80451793420:ios:ac4f251d6a659075f6b429</string>
</dict>
</plist>